/* ACCORDION FROM W3 SCHOOLS
https://www.w3schools.com/howto/howto_js_accordion.asp */

/* Style the buttons that are used to open and close the accordion panel */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion {
	background-color: transparent;
	color: var(--dark);
	cursor: pointer;
	padding: 1rem;
	width: 100%;
	border: 1px solid var(--inactive);
	text-align: left;
	outline: none;
	height: 4.8rem;
	transition: 0.4s;
	font-family: "Nunito";
	/* margin-bottom: 1rem; */
	margin-bottom: 1rem;
	border-radius: 5px;
}

.accordion:hover {
	background-color: var(--light);
	color: var(--bright);
	border: 1px solid transparent;
}

.active {
	background-color: transparent;
	border: 1px solid transparent;
	border: 1px solid var(--light);
	color: var(--dark) !important;
}

.accordion:hover:after {
	color: var(--bright);
}

.accordion:after {
	content: "\002B";
	color: var(--dark);
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
	color: var(--bright);
}

.active:after:hover {
	content: "\2212";
	color: var(--bright);
}

.panel {
	background-color: transparent;
	max-height: 0;
	margin-left: 2rem;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	/* margin-bottom: 1rem; */
}
#subpanel.active {
	background-color: red;
}
