/* spacing */

/* --------------------------------------------------------------	
MARGIN TOP
--------------------------------------------------------------	 */

.mt-8 {
	margin-top: 0.8rem;
}

.mt-16 {
	margin-top: 1.6rem;
}

.mt-20 {
	margin-top: 2rem;
}

.mt-32 {
	margin-top: 3.2rem;
}

/* --------------------------------------------------------------	
MARGIN RIGHT
--------------------------------------------------------------	 */

.mr-8 {
	margin-right: 0.8rem;
}

.mr-16 {
	margin-right: 1.6rem;
}

/* --------------------------------------------------------------	
MARGIN BOTTOM
--------------------------------------------------------------	 */
.mb-8 {
	margin-bottom: 0.8rem;
}

.mb-16 {
	margin-bottom: 1.6rem;
}

/* --------------------------------------------------------------	
MARGIN LEFT
--------------------------------------------------------------	 */
.ml-8 {
	margin-left: 0.8rem;
}

.ml-16 {
	margin-left: 1.6rem;
}
